.idea
*.cache
*.so
*.lo
build
*.o
acinclude.m4
Makefile
Makefile.*
*.la
libtool
install-sh
missing
ltmain.sh
configure
configure.*
aclocal.m4
config.h.in
config.log
config.nice
config.status
config.sub
config.w32
config.guess
mkinstalldirs
CMakeLists.txt
.libs
core